
WEAVIATE_URL=https://rxialitpramansul5emzuw.c0.us-west3.gcp.weaviate.cloud
WEAVIATE_API_KEY=RmRPOTd1QXlCVHA5MHNrcF9UMHRkZ3FSRmJ2MFRBYUY4d2Z1VksxTjBZWUhXUytSZzFSYVhCbWJTSDk0PV92MjAw
# OpenAI — взима се от platform.openai.com → API Keys
OPENAI_API_KEY=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